[build]
  functions = "functions"
  command = "npm run build"
  publish = "public"

[functions]
  directory = "functions"
  node_bundler = "esbuild"
  included_files = [
    "models/**",
    "routes/**"
  ]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

[build.environment]
  NODE_VERSION = "18.17.0"
